@import '@fontsource/fira-mono';
@import 'styles/reset.css';
@import 'styles/sveltekit.css';

/* 
 * Insight! - To keep styling simple:
 * - use semantic HTML elements
 * - establish consistent layouts and element nesting patterns
 * - target styles by element and nesting patterns
 */

/* See Notion "Semantic HTML" - https://www.notion.so/timmarwick/Semantic-HTML-10605a8dd01b8062af05f79247a3ae3a?pvs=4 */

/* form, input, textarea, select, label, fieldset, legend, button etc */
@import 'styles/form.css';

section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

button[type='submit'] {
	align-self: flex-start;
	padding: 0.5rem 1rem;
}

.buttons-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-between;
}
